<%- include('../include/head.ejs')%>            

</head>
<body>
    <%- include('../include/header.ejs')%>            
    <%- include('../include/sideBar.ejs')%>
<div id="page-content-wrapper" >
    <div id="page-title">
        <h3>
            Edit Page
            
        </h3>                       
    </div>
    <div id="page-content">
        <div class="example-box"  style="margin-bottom: 300opx;">
            <div class="row">
                <form action="/edit" method="POST" enctype="multipart/form-data">
                    <div class="col-md-8">

                        <div class="profile-box content-box">
                            <div class="content-box-header clearfix bg-blue-alt">
                                <img width="36" src="/<%= doctor.imageUrl %>" alt="">
                                <div class="user-details">
                                    <!-- Doctor <%= doctor.name %> -->
                                    <!-- <span>This is a sample description</span> -->
                                </div>
                            </div>
                            <div class="nav-list">
                                <ul>
                                    <li>
                                        <a href="javascript:;" title="">
                                            <div class="form-row">
                                                <div class="form-label col-md-2">
                                                    <label for="">
                                                        Name :
                                                    </label>
                                                </div>
                                                <div class="form-input col-md-10">
                                                    <input type="text" name="name" id="" value="<%= doctor.name%>">
                                                </div>
                                            </div>                                  
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="javascript:;" title="">
                                            <div class="form-row">
                                                <div class="form-label col-md-2">
                                                    <label for="">
                                                        Last Name :
                                                    </label>
                                                </div>
                                                <div class="form-input col-md-10">
                                                    <input type="text" name="lname" id="" value="<%= doctor.lname%>">
                                                </div>
                                            </div>                                  
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" title="">
                                            <div class="form-row">
                                                <div class="form-label col-md-2">
                                                    <label for="">
                                                        Email Address :
                                                    </label>
                                                </div>
                                                <div class="form-input col-md-10">
                                                    <input type="text" name="email" id="" value="<%= doctor.email%>">
                                                </div>
                                            </div>                                  
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" title="">
                                            <div class="form-row">
                                                <div class="form-label col-md-2">
                                                    <label for="">
                                                        Phone Number :
                                                    </label>
                                                </div>
                                                <div class="form-input col-md-10">
                                                    <input type="text" name="phone" id="" value="<%= doctor.phone%>">
                                                </div>
                                            </div>                                  
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" title="">
                                            <div class="form-row">
                                                <div class="form-label col-md-2">
                                                    <label for="">
                                                        Department :
                                                    </label>
                                                </div>
                                                <div class="form-input col-md-10">
                                                    <select name="dp" id="dp">
                                                    <% if(dpart.length>0){
                                                        for(d of dpart){
                                                            %>
                                                            <option value="<%= d._id%>"  ><%= d.dp%></option>
                                                            <%
                                                        }
                                                    }%>
                                                    </select>
                        
                                                </div>
                                            </div>                                  
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" title="">
                                            <div class="form-row">
                                                <div class="form-label col-md-2">
                                                    <label for="">
                                                        Status :
                                                    </label>
                                                </div>
                                                <div class="form-input col-md-10">
                                                    <input type="text" name="status" id="" value="<%= doctor.status%>">
                                                </div>
                                            </div>                                  
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="form-label col-md-2">
                                                <label for="">
                                                    Image Upload :
                                                </label>
                                            </div>
                                        <div class="float-right">
                                            <span class="btn medium bg-green fileinput-button">
                                                <span class="button-content">
                                                <i class="glyph-icon icon-plus"></i>
                                                Add files...
                                                </span>
                                                <input type="file" name="image">
                                            </span>
                                            
                                        </div>
                                    </a>
                                    </li>
                                    <li>
                                        <div class="form-row">
                                            <div class="form-label col-md-2">
                                                <label for="">
                                                    Description :
                                                </label>
                                            </div>
                                            <div class="form-input col-md-10" style="padding: 10px; padding-left: 10px;">
                                                <textarea name="des" id="" cols="10" rows="10"><%= doctor.des%></textarea>
                                            </div>
                                        <input type="hidden" name="docId" value="<%= doctor._id%>" id="">

                                        </div>                                  
                                    </li>
                                    <li>
                                        <div class="form-label col-md-1 center-margin">
                                            <button type="submit" class="btn medium bg-green ">
                                                <span class="button-content">Save</span>
                                            </button>
                                        </div> 
                                        <br>                               
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
</body>
